body {
  background-color: rgb(21, 93, 117);
  text-align: center;
  font-display: georgia;

  
}

h1 {
  color: rgb(112, 29, 8);
  text-align: center;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  
 
  
}
